== @items['/pages/biography/'].compiled_content
== @items['/pages/school/'].compiled_content
== @items['/pages/contact/'].compiled_content
script type="text/javascript"
  == @items['/scripts/application/'].compiled_content
